.registerEditUser {
    width: 90%;
    height: 70%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    border-radius: 10px;
    width: 90%;
    border: 1px solid rgba(157, 157, 159, 0.656);
    background-color: rgba(214, 215, 218, 0.357);
    z-index: 10;
}

