.home {
    background-color: #fefefe;

    // &::after {
    //     content: "";
    //     height: 100%;
    //     grid-column: 3/9;
    //     grid-row: 3/8;
    //     display: flex;
    //     background-color: #000066d7;
    //     z-index: 1;
    //     clip-path: polygon(100% 0%, 75% 50%, 100% 100%, 25% 100%, 0% 50%, 25% 0%);
    // }

    // &:target {
    //     grid-template-columns: 150px repeat(10, 1fr);
    // }
}

.container__body {
    // grid-column: 2/-1;
    // grid-row: 2/3;
    // background-color: #fff;
    // display: flex;
    // flex-direction: column;
    // justify-content: center;
    // overflow-y: auto;
    
    overflow-x: hidden;
    width: 100%;
    height: 100%;
    overflow-y: auto;

    &--center{
        display: flex;
        justify-content: center;
        align-items: center;
    }

    &--users {
        //background-image: linear-gradient(to right, rgba(138, 154, 221, 0.396), rgba(128, 143, 203, 0.396));
        background-color: #ffffffe2;
    }

    &--register {
        justify-content: space-evenly;
        //background-color: rgba(243, 246, 251, 0.608);
        background-color: #ffffffe2;

    }

    &--contact {
        justify-content: space-evenly;
        background-color: #ffffffe2;
        //background-color: #f7f7f9;

    }

    &--mostrarInfo {
        justify-content: space-evenly;
        background-color: #ffffffe2;


    }

    &--editUser {
        justify-content: space-evenly;
        background-color: #ffffffe2;

    }

}


.body__picture {
    text-align: center;
    align-self: center;

    &-img {
        width: 50%;
    }
}