.container__header{
    grid-column: 2/-1;
    grid-row: 1/2;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    border-bottom: 1px solid #d3d3d3;

    // border-left: 1px solid #d3d3d3;
    // border-bottom-left-radius: 1px;

}

.container__header h2{
    font-size: 22px;
    color: var(--color-primary-logo); 
    margin-right: 25px;
    font-family: 'Roboto', sans-serif;
    letter-spacing: 1px;
}
